.button {
  opacity: 1;
  transition: opacity 0.3s;
  background: #2c36f2;
  border: none;
  border-radius: 4px;
  color: #f6f7ff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 120%;
  cursor: pointer;
  overflow: hidden;
  padding: 0 15px;
  box-sizing: border-box;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  &:focus {
    outline: 1px solid red;
  }

  &:active {
    opacity: 0.6;
  }

  &--narrow {
    width: 197px;
    max-width: 197px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
  }

  &--wide {
    width: 382px;
    max-width: 382px;
    padding-top: 20px;
    padding-bottom: 19px;
    font-size: 18px;
  }
}
