.promo {
  background: #2c36f2
    linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027b3 99.79%)
    no-repeat;

  .promo__inner {
    display: flex;
    justify-content: flex-start;
    background: url('../../assets/img/promo-background.jpg') no-repeat;
    background-size: cover;
  }

  .promo__text-col {
    width: 580px;
    padding-top: 98px;
    padding-left: 170px;
    padding-bottom: 114px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .promo__title {
    font-weight: bold;
    font-size: 54px;
    line-height: 120%;
    color: #f6f7ff;
    margin-bottom: 1px;
    padding: 3px 0;
    overflow: hidden;
    max-width: 410px;
  }

  .promo__lead {
    font-size: 22px;
    line-height: 120%;
    color: #e0e1ea;
    margin-bottom: 31px;
    padding: 3px 0;
    overflow: hidden;
    max-width: 410px;
  }

  .promo__link {
    display: block;
    opacity: 1;
    transition: opacity 0.3s;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #1f1e25;
    padding: 15px 36px 17px;
    background: #f6f7ff;
    border-radius: 4px;
    max-width: 234px;
    overflow: hidden;
    box-sizing: border-box;

    &:hover {
      opacity: 0.8;
      transition: opacity 0.3s;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .promo__img-col {
    width: 590px;
    position: relative;
    flex-shrink: 0;

    img:first-child {
      position: absolute;
      top: 61px;
      left: 129px;
    }

    img:last-child {
      position: absolute;
      top: 119px;
      left: 20px;
    }
  }
}
