.logo {
  display: block;
  margin-right: 58px;
  padding-bottom: 7px;
  opacity: 1;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.3s;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.3s;
  }
}
