.main-header {
  background: #f6f7ff;
}

.nav {
  padding-top: 21px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 620px;
  margin-right: auto;

  .site-navigation__item {
    margin-right: 15px;
    padding: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-navigation__link {
    display: block;
    opacity: 1;
    transition: opacity 0.3s;
    overflow: hidden;
    padding: 8px 0;
    max-width: 300px;

    &--active {
      color: #2c36f2;
    }

    &:hover {
      opacity: 0.6;
      transition: opacity 0.3s;
    }

    &:active {
      color: #2c36f2;
    }
  }
}

.user-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 203px;

  .user-navigation__item {
    display: flex;
    padding: 5px 0;
  }

  .user-navigation__link {
    display: inline-flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s;
    max-width: 203px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 8px 0;

    &:hover {
      opacity: 0.6;
      transition: opacity 0.3s;
    }

    &:active {
      color: #2c36f2;
    }

    &::before {
      content: '';
      width: 20px;
      height: 22px;
      background: url('../../assets/img/enter.svg');
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
}
